
 
body {
   
    
     
    font-size: 16px; 
    font-family: 'Lato', helvetica, arial, sans-serif;
    color: #000;
}

.globalcontainer{
    background-color: #F3F3F5;
  vertical-align: center;



}

.titles{
    color: #A2C1C3;
    font-family: 'Arial';
    font-size: 20px;
}
 
a:link { 
    text-decoration: underline;
    color: #000;
    font-weight: bold;
}
 
a:visited { 
    text-decoration: underline;
    color: #000;
    font-weight: bold;
}
 
a:hover { 
    text-decoration: underline;
    color: #669933;
    font-weight: bold;
}
 
a:active { 
    text-decoration: underline;
    color: #000;
    font-weight: bold;
}
 
#wrapper    {
    width: 965px;
    margin: 0 auto; 
}
 
#content {
    background-color: #eee;
    width: 960px;
    text-align: left;
    overflow: auto;
    position: relative;
    margin: 25px 0px 25px 0px;
    border: #fff solid 2px;
}
 
.clear  {
    float: none;
    clear: both;
    margin: 20px 0px 20px 0px;
    
}
 
 
/* Header
--------------------------------------------------- */
header{
    background-color: #A2C1C3;
    position: absolute;
    z-index: 0;
    height: 70px;
    width: 99.99%;
}

 
 
/* Main Content
--------------------------------------------------- */
 
h2.top  {
    margin: 0px; 
    font-size: 22px;
    font-weight: bold;
}
 
h2  {
    margin: 40px 0px 0px 0px; 
    font-size: 22px;
    font-weight: bold;
}
 

 
p.bus1  {
    margin: 0px;
    font-weight: bold;
    color: #669933;
}
 
p.edu-info  {
    margin: 10px 0px 0px 0px;
    font-weight: bold;
    color: #669933;
}
 
p.edu-info a    {
    color: #000;
}
 
p.edu-info a:hover  {
    color: #669933;
}
 
p.time  {
    margin: 0px;
}
 
p.summary   {
    margin: 10px 0px 0px 0px;
}
 
 
#skills ul.list1    {   
    float: left;
    list-style: none;
    margin: 0px 0px 0px -40px;
    width: 220px;
}
 
#skills ul.list2    {   
    float: left;
    list-style: none;
    margin: 0px 0px 0px 0px;
    width: 220px;
}
 
#skills li {
    background: url("../images/bullet_green.png") no-repeat;
    background-position: 0px 2px;
    padding: 0px 0px 0px 25px;
}
 
abbr    {
    border-width: 0px;
}
 
 

    /************************************************
    /* Affichage des compétences sous forme de barres
    *************************************************/
    .competences .barres li {
        margin-bottom: 25px;
        position: relative;
        list-style: none;
        
    }
    
    .competences .barres li:after {
        background: #e1e1e1;
        bottom: -4px;
        content: ' ';
        display: block;
        height: 13px;
        left: 0;
        position: absolute;
        width:100%;
    }
    
    .competences .barres li span {
        background: #A2C1C3;
        bottom: -4px;
        content: ' ';
        display: block;
        height: 13px;
        left: 0;
        position: absolute;
        width: inherit;
        z-index: 1;
    }




.icons{
    font-size: 2em;
    color: #A2C1C3;
}

.section1{
    
    margin-top: 0;
}
.section2{
    position: relative;
    margin-top: 320px;
}

#footer{
   
    text-align: center;
}




.center {
  margin: 0;
  position: absolute;
  left: 15%;

}

#References li{
    margin-left: 20px;
}